body{
 background-color: lightgrey;
  font-family: helvetica, Arial, Sans-serif;
}

a{
  text-decoration: none;
}


h2,h3{
  margin: 0;
}
#container{
  background-color: white;
  width: 850px;
  margin-left: auto;
  margin-right: auto;

}

#header {
  background-color:#66ccff ;
  color: white;
  text-align: center;
  padding:0.5px;
}

#content {
background-color: white;
margin-right:40px;
}

#nav{
  width:180px;
  float: left;
  margin-left:20px;
}


#nav ul{
  display: inline;
  list-style-type: none;
}

#main{
  width: 600px;
  float:right;
}

#tabel{
  float: right;
  border-collapse: collapse;
  width: 600px;
}
td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px;
}
tr:nth-child(even){
  background-color: #dddddd;
}
img{
  width: 300px;
  margin: 15px
}
#wanneer{
  float:right;
  width: 600px;
}

#filmpje{
  float: right;
  width: 600px;
}
#footer{
  clear: both;
  padding: 10px;
  Background-color:#999999;
  color:black;
  text-align: right;
  width:830px;
}
#contactformulier{
  float: right;
  width: 550px
}
