body{
  background-color:#eee;
  font-family: helvetica, Arial, Sans-serif;
}

a{
  text-decoration: none;
}


h2,h3{
  margin: 0;
}
#container{
  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;

}

#header {
  background-color:#66ccff ;
  color: white;
  text-align: center;
}

#content {
  padding:20px;
}

#nav{
  width:180px;
  float: left;
}
#nav ul{
  list-style-type: none;
}

#main{
  width: 550px;
  float: right;
}
#filmpje{
  float: right;
}
#footer{
  clear: both;
  padding: 10px;
  Background-color:#999999;
  color:black;
  text-align: right;
}